*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 2%;
}

html,body{
    height: 100%;
    overflow-x: hidden;/*para impedir que crie scrollbar esquerda e direita*/
}

header{
    padding: 30px 0;
}

.logo{
    width: 41%;
}

.menu{
    padding-top: 30px;
    width: 50%;
    text-align: left;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -450px;
    right: -500px;
    width: 1100px;
    height: 1000px;
    border-radius: 50%;
    background-color: white;/*017143 talvez trocar para branco depois ou #0b9e2b*/

}

.social-media{
    position: absolute;
    right: 520px;
    top: 200px;
}
 
.social-media img{
    display: block;
    width: 50px;
    margin: 30px 0;
    
}
     
.texto-sobre{
    margin-top: 20px;
    margin-left: 50px;
}

.texto-sobre h1{
    font-size: 30px;
}

.texto p{
    margin: 20px 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    max-width: 800px;
}

.texto button{
    border: 0;
    background-color: #0b9e2b;
    color: white;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}

.texto-explicativo{
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-explicativo p{
    margin: 20px 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    max-width: 800px; 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 700px;
    background-color: green;
}

.form-box .title{
    padding: 20px 270px ;
    font-size: 24px;
}

.form-box form{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 32px;
}

.form-box input,
.form-box textarea{
    width: calc(50% - 8px);
    height: 48px;
    border-radius: 8px;
    padding-left: 16px;
    margin-bottom: 16px;
    font-size: 14px;
}

.form-box button{
    display: block;
    border: none;
    outline: none;
    width: 180px ;
    height: 48px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.form-box button:hover{
    background-color:rgb(172, 166, 166)
}